{% extends 'panel/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} افزودن ادمین{% endblock %}

{% block panel-header %}
{% if type == 'add' %}
افزودن کاربر
{% else %}
ویرایش کاربر : {{admin.username}}
{% endif %}

{% endblock %}

{% block main %}

{% if message %}
<span class="message-span">{{message}}</span>
{% endif %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-card">

    <span>
            <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="username">نام کاربری :</label>
                {{form.username|add_class:"text-input my-form-control"|attr:"type:text"|attr:"name:username"}}

        </div>
        </span>

        {% if type == 'add' %}
        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="formGroupExampleInput2">رمز عبور :</label>

            {{form.password|add_class:"text-input my-form-control"|attr:"type:password"|attr:"name:password"}}


        </div>
        {% endif %}


        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="first_name">نام :</label>
            {{form.first_name|add_class:"text-input my-form-control"|attr:"type:text"|attr:"name:first_name"}}

        </div>


        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="last_name">نام خانوادگی :</label>
            {{form.last_name|add_class:"text-input my-form-control"|attr:"type:text"|attr:"name:last_name"}}

        </div>


        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="email">ایمیل :</label>
            {{form.email|add_class:"text-input my-form-control"|attr:"type:email"|attr:"name:email"}}

        </div>

        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="is_superuser">مدیر :</label>
            {{form.is_superuser|add_class:"my-checkbox"|attr:"type:checkbox"|attr:"name:is_superuser"}}

        </div>

        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="is_staff">ادمین :</label>
            {{form.is_staff|add_class:"my-checkbox"|attr:"type:checkbox"|attr:"name:is_staff"}}

        </div>





        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="image">عکس :</label>
            {{form.image|attr:"type:file"|attr:"name:image"|attr:"accept:image/*"}}

        </div>

        <span id="sign-btn-span"><button id="sign-btn-admin" type="submit" class="btn btn-primary">
            {% if type == 'add' %}ثبت نام{% else %}ذخیره{% endif %}

        </button></span>

    </div>

</form>

{% endblock %}