{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>پنل ادمین |{% block title %}{% endblock %}</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="keywords"
          content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive"/>
    <meta name="author" content="Codedthemes"/>
    <!-- Favicon icon -->
    <!--    <link rel="icon" href="{% static 'panel/images/favicon.ico' %}" type="image/x-icon">-->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'panel/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- waves.css -->
    <link rel="stylesheet" href="{% static 'panel/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/icon/themify-icons/themify-icons.css' %}">
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/font-awesome-n.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/jquery.mCustomScrollbar.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/mycss.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/myresponsive.css' %}">
    <script src="https://kit.fontawesome.com/132ceede7b.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <div class="mobile-search waves-effect waves-light">
                        <div class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-prepend search-close"><i
                                            class="ti-close input-group-text"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    <span class="input-group-append search-btn"><i
                                            class="ti-search input-group-text"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'products:home' %}">
                        <img class="img-fluid" src="{% static 'panel//images/logo.png' %}" alt="Theme-Logo"/>
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <i class="ti-bell"></i>
                                <span class="badge bg-c-red"></span>
                            </a>
                            <ul class="show-notification">
                                <li>
                                    <h6>Notifications</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{% static 'panel//images/avatar-2.jpg' %}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">John Doe</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{% static 'panel//images/avatar-4.jpg' %}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Joseph William</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius"
                                             src="{% static 'panel//images/avatar-3.jpg' %}"
                                             alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Sara Soudein</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                                elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <img src="{% if user.image %}{{user.image.url}}{% endif %}" class="img-radius"
                                     alt="User-Profile-Image">
                                <span>{{user.username}}</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li class="waves-effect waves-light">
                                    <a href="#!">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="#">
                                        <i class="ti-user"></i> Profile
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="#">
                                        <i class="ti-email"></i> My Messages
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="#">
                                        <i class="ti-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="{% url 'accounts:logout' %}">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="{% if user.image %}{{user.image.url}}{% endif %}"
                                     alt="User-Profile-Image">
                                <div class="user-details">
                                    <span id="more-details">{{user.username}}<i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                                        <a href="{% url 'accounts:logout' %}"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--&lt;!&ndash;                            <div class="p-15 p-b-0">&ndash;&gt; search-->
                        <!--                                <form class="form-material">-->
                        <!--                                    <div class="form-group form-primary">-->
                        <!--                                        <input type="text" name="footer-email" class="form-control">-->
                        <!--                                        <span class="form-bar"></span>-->
                        <!--                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Friend</label>-->
                        <!--                                    </div>-->
                        <!--                                </form>-->
                        <!--                            </div>-->
                        {% if user.is_superuser %}
                        <div class="pcoded-navigation-label">
                            <span style="margin-right: 5px;">بخش مدیران</span></div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="{% url 'panel:admins' %}" class="waves-effect waves-dark">
                                    <span class="nav-btn">لیست مدیران</span>
                                </a>
                                <a href="{% url 'panel:add_admin' %}" class="waves-effect waves-dark">
                                    <span class="nav-btn">افزودن مدیر</span>
                                </a>


                            </li>
                        </ul>
                        {% endif %}
                        <div class="pcoded-navigation-label">
                            <span style="margin-right: 5px;"> مدیریت محصولات</span></div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="{% url 'panel:products' %}" class="waves-effect waves-dark ">
                                    <span class="nav-btn">مشاهده محصولات</span>
                                </a>
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">افزودن محصول</span>
                                </a>
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">ویرایش محصول</span>
                                </a>


                            </li>
                        </ul>


                        <div class="pcoded-navigation-label">
                            <span style="margin-right: 5px;"> مدیریت حساب کاربری</span></div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">ویرایش حساب کاربری</span>
                                </a>
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">افزودن کاربر</span>
                                </a>


                            </li>
                        </ul>
                        <div class="pcoded-navigation-label">
                            <span style="margin-right: 5px;"> مدیریت محصولات</span></div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">مشاهده محصولات</span>
                                </a>
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">مشاهده محصولات</span>
                                </a>
                                <a href="#" class="waves-effect waves-dark">
                                    <span class="nav-btn">مشاهده محصولات</span>
                                </a>


                            </li>
                        </ul>


                    </div>
                </nav>
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    {% block one %}{% endblock %}
                    <!-- Page-header end -->

                        <!-- Main-body start -->
                        <div style="direction: rtl ; text-align: right" class="main-body">

                                <!-- Page-body start -->
                                <div class="page-body">

                                    {% block main %}{% endblock %}
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"></div>

                        </div>
                    </div>

            </div>
        </div>
    </div>


    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web
            browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="{% static 'panel//images/browser/chrome.png' %}" alt="Chrome">
                        <div>Chrome</div>
                    </a>{% static 'panel/' %}
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="{% static 'panel//images/browser/firefox.png' %}" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="{% static 'panel//images/browser/opera.png' %}" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="{% static 'panel//images/browser/safari.png' %}" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="{% static 'panel//images/browser/ie.png' %}" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'panel/js/jquery/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'panel/js/jquery-ui/jquery-ui.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'panel/js/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'panel/js/bootstrap/js/bootstrap.min.js' %} "></script>
    <!-- waves js -->
    <script src="{% static 'panel/pages/waves/js/waves.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'panel/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- slimscroll js -->
    <script src="{% static 'panel/js/jquery.mCustomScrollbar.concat.min.js' %} "></script>

    <!-- menu js -->
    <script src="{% static 'panel/js/pcoded.min.js' %}"></script>
    <script src="{% static 'panel/js/vertical/vertical-layout.min.js' %} "></script>

    <script type="text/javascript" src="{% static 'panel/js/script.js' %} "></script>
    <script type="text/javascript" src="{% static 'panel/js/hidepro.js' %} "></script>

</body>

</html>
