{% extends 'panel/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} تغییر گذرواژه{% endblock %}


{% block main %}

{% if message %}
<span class="message-span">{{message}}</span>
{% endif %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-card">

    <span>
            <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="old_password">رمز عبور قدیمی :</label>
                {{form.old_password|add_class:"text-input my-form-control"|attr:"type:password"|attr:"name:username"}}


        </div>
        </span>


        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="formGroupExampleInput2">رمز عبور جدید:</label>

            {{form.new_password1|add_class:"text-input my-form-control"|attr:"type:password"|attr:"name:password"}}


        </div>


        <div class="form-group sign-form-admin">
            <label class="label-sign my-label" for="first_name">تکرار رمز عبور جدید :</label>
            {{form.new_password2|add_class:"text-input my-form-control"|attr:"type:password"|attr:"name:first_name"}}

        </div>


        <span id="sign-btn-span"><button id="sign-btn-admin" type="submit" class="btn btn-danger">تغییر گذرواژه</button></span>

    </div>

</form>

{% endblock %}